<form method="post" action="{{ path('situation_familiale_delete', {'id': situation_familiale.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ situation_familiale.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
