<form method="post" action="{{ path('situation_familiale_delete', {'id': situation_familiale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ situation_familiale.id) }}">
    <button class="btn">Delete</button>
</form>
