{% extends 'base.html.twig' %}

{% block title %}New SituationFamiliale{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Create new SituationFamiliale</h1>
    </div>

    {{ include('situation_familiale/_form.html.twig') }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('situation_familiale_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
        </div>
    </div>
{% endblock %}
