{% extends 'base.html.twig' %}

{% block title %}New Bailleur{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Créer un nouveau Bailleur</h1>
    </div>
    <div class="row m-3">
        {{ include('bailleur/_form.html.twig') }}
    </div>
    <div class="row m-3">
        <a href="{{ path('bailleur_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
