{% extends 'base.html.twig' %}

{% block title %}New Bailleur{% endblock %}

{% block body %}
    <h1>Create new Bailleur</h1>

    {{ include('bailleur/_form.html.twig') }}

    <a href="{{ path('bailleur_index') }}">back to list</a>
{% endblock %}
