{% extends 'base.html.twig' %}

{% block title %}Modifier Site{% endblock %}

{% block body %}
    <h1>Modifier un Site</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row mb-3">
        <div class="col-lg-1">
            <a href="{{ path('site_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
        </div>
        <div class="col-lg-2">
            {{ include('site/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
