{% extends 'base.html.twig' %}

{% block title %}Nouveau Site{% endblock %}

{% block body %}
    <h1>Créer un nouveau Site</h1>

    {{ include('site/_form.html.twig') }}

    <a href="{{ path('site_index') }}">retour à la liste</a>
{% endblock %}
