{% extends 'base.html.twig' %}

{% block title %}Nouveau Site{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Créer un nouveau Site</h1>
    </div>

    {{ include('site/_form.html.twig') }}

    <div class="row m-3">
        <a href="{{ path('site_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>

{% endblock %}
