<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div
    class="container">
        <div
            class="collapse navbar-collapse" id="navbarCollapse">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollaps">
                <i class="fe fe-x"></i>
            </button>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item-dropdown">
                    <a href="apprenant/" class="nav-link" >Apprenants</a>
                </li>
                <li class="nav-item-dropdown">
                    <a href="enfant/" class="nav-link">Enfants</a>
                </li>
                <li class="nav-item-dropdown">
                    <a href="qpv/" class="nav-link">QPV</a>
                </li>
                <li class="nav-item-dropdown">
                    <a href="user/" class="nav-link">Utilisateur</a>
                </li>
            </ul>
        </div>
    </div>
</nav>