{% extends 'base.html.twig' %}

{% block title %}Modifier NiveauFormation{% endblock %}

{% block body %}
    <h1>Modifier un Niveau de Formation</h1>

    {{ include('niveau_formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('niveau_formation_index') }}">Retour à la liste</a>

    {{ include('niveau_formation/_delete_form.html.twig') }}
{% endblock %}
