{% extends 'base.html.twig' %}

{% block title %}nouveau NiveauFormation{% endblock %}

{% block body %}
    <h1>Créer un Niveau de Formation</h1>

    {{ include('niveau_formation/_form.html.twig') }}

    <a href="{{ path('niveau_formation_index') }}">retour à la liste</a>
{% endblock %}
