{% extends 'base.html.twig' %}

{% block title %}New NiveauFormation{% endblock %}

{% block body %}
    <h1>Create new NiveauFormation</h1>

    {{ include('niveau_formation/_form.html.twig') }}

    <a href="{{ path('niveau_formation_index') }}">back to list</a>
{% endblock %}
