<form method="post" action="{{ path('apprenant_delete', {'id': apprenant.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apprenant.id) }}">
    <div class="col-lg-1">
        <button class="btn btn-danger btn-xs">Supprimer</button>
    </div>
</form>
