<form method="post" action="{{ path('apprenant_delete', {'id': apprenant.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet éléments??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apprenant.id) }}">
    <div class="col-lg-1">
        <button class="btn btn-warning btn-xs">Supprimer</button>
    </div>
</form>
