{% extends 'base.html.twig' %}

{% block title %}Edit Apprenant{% endblock %}

{% block body %}
    <h1>Edit Apprenant</h1>

    {{ include('apprenant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('apprenant_index') }}">back to list</a>

    {{ include('apprenant/_delete_form.html.twig') }}
{% endblock %}
