<form method="post" action="{{ path('type_enseignement_delete', {'id': type_enseignement.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_enseignement.id) }}">
    <div class="col-lg-2">
        <button class="btn btn-danger btn-xs">Supprimer</button>
    </div>
</form>
