{% extends 'base.html.twig' %}

{% block title %}Edit TypeEnseignement{% endblock %}

{% block body %}
    <h1>Edit TypeEnseignement</h1>

    {{ include('type_enseignement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_enseignement_index') }}">retour à la liste</a>

    {{ include('type_enseignement/_delete_form.html.twig') }}
{% endblock %}
