{% extends 'base.html.twig' %}

{% block title %}Modifier Type d'Enseignement{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Modifier un type d'enseignement</h1>
    </div>
    <div class="row m-3">
        {{ include('type_enseignement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div class="row m-3">
        {{ include('type_enseignement/_delete_form.html.twig') }}
    </div>
    <div class="row m-3">
        <a href="{{ path('type_enseignement_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
    </div>

{% endblock %}
