{% extends 'base.html.twig' %}

{% block title %}nouveau Type Enseignement{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Créer nouveau type d'enseignement</h1>
    </div>

    {{ include('type_enseignement/_form.html.twig') }}

    <div class="row mb-3">
        <a href="{{ path('type_enseignement_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
