{% extends 'base.html.twig' %}

{% block title %}New TypeEnseignement{% endblock %}

{% block body %}
    <h1>Create new TypeEnseignement</h1>

    {{ include('type_enseignement/_form.html.twig') }}

    <a href="{{ path('type_enseignement_index') }}">back to list</a>
{% endblock %}
