{% extends 'base.html.twig' %}

{% block title %}Nouveau Type d'Enseignement{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Créer nouveau type d'enseignement</h1>
    </div>
    <div class="row m-3">
        {{ include('type_enseignement/_form.html.twig') }}
    </div>
    <div class="row m-3">
        <a href="{{ path('type_enseignement_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
