{% extends 'base.html.twig' %}

{% block title %}nouveau TypeEnseignement{% endblock %}

{% block body %}
    <h1>Créer nouveau TypeEnseignement</h1>

    {{ include('type_enseignement/_form.html.twig') }}

    <a href="{{ path('type_enseignement_index') }}">retour à la liste</a>
{% endblock %}
