{% extends 'base.html.twig' %}

{% block title %}nouveau TypeEnseignement{% endblock %}

{% block body %}
    <h1>Créer nouveau TypeEnseignement</h1>

    {{ include('type_enseignement/_form.html.twig') }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('type_enseignement_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
        </div>
    </div>
{% endblock %}
