<form method="post" action="{{ path('ressource_delete', {'id': ressource.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    <div class="col-lg-2">
        <button class="btn btn-danger btn-xs">Supprimer</button>
    </div>
</form>
