{% extends 'base.html.twig' %}

{% block title %}Nouvelle ressource{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Créer une nouvelle ressource</h1>
    </div>

    {{ include('ressource/_form.html.twig') }}

    <div class="row m-3">
        <a href="{{ path('ressource_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
