{% extends 'base.html.twig' %}

{% block title %}nouvelle Ressource{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Ressource</h1>

    {{ include('ressource/_form.html.twig') }}

    <a href="{{ path('ressource_index') }}">retour à la liste</a>
{% endblock %}
