{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row m-3">
        <form action="{{ path('login') }}" method="post">
            <div class="row mb-3">
                <div class="col-2 text-end">
                    <label class="form-label" for="username">Nom d'utilisateur</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2 text-end">
                    <label class="form-label" for="password">Mot de passe</label>
                </div>
                <div class="col-4">
                    <input class="form-control" type="password" id="password" name="_password"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <button class="btn btn-primary" type="submit">Se connecter</button>
                </div>
            </div>
            <input type="hidden" name="_target_path" value="/"/>

        </form>
    </div>

{% endblock %}
