<form method="post" action="{{ path('q_p_v_delete', {'id': q_p_v.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ q_p_v.id) }}">
    <div class="col-lg-2">
        <button class="btn btn-danger btn-xs">Supprimer</button>
    </div>
</form>
