{% extends 'base.html.twig' %}

{% block title %}Edit QPV{% endblock %}

{% block body %}
    <h1>Edit QPV</h1>

    {{ include('qpv/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('q_p_v_index') }}">back to list</a>

    {{ include('qpv/_delete_form.html.twig') }}
{% endblock %}
