{% extends 'base.html.twig' %}

{% block title %}Nouveau QPV{% endblock %}

{% block body %}
    <h1>Créer un nouveau QPV</h1>

    {{ include('qpv/_form.html.twig') }}

    <a href="{{ path('q_p_v_index') }}">retour à la liste</a>
{% endblock %}
