{% extends 'base.html.twig' %}

{% block title %}Nouveau QPV{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Créer un nouveau QPV</h1>
    </div>

    {{ include('qpv/_form.html.twig') }}

    <div class="row mb-3">
        <a href="{{ path('q_p_v_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
