{% extends 'base.html.twig' %}

{% block title %}New QPV{% endblock %}

{% block body %}
    <h1>Create new QPV</h1>

    {{ include('qpv/_form.html.twig') }}

    <a href="{{ path('q_p_v_index') }}">back to list</a>
{% endblock %}
