{% extends 'base.html.twig' %}

{% block title %}Nouveau QPV{% endblock %}

{% block body %}
    <h1>Créer un nouveau QPV</h1>

    {{ include('qpv/_form.html.twig') }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('q_p_v_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
        </div>
    </div>
{% endblock %}
