<form method="post" action="{{ path('etablissement_scolaire_delete', {'id': etablissement_scolaire.id}) }}" onsubmit="return confirm('ête-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etablissement_scolaire.id) }}">
    <div class="col-lg-2">
        <button class="btn btn-danger btn-xs">Supprimer</button>
    </div>
</form>
