{% extends 'base.html.twig' %}

{% block title %}Edit EtablissementScolaire{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Modifier un Etablissement Scolaire</h1>
    </div>

    {{ include('etablissement_scolaire/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('etablissement_scolaire_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
        </div>
        <div class="col-lg-2">
            {{ include('etablissement_scolaire/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
