{% extends 'base.html.twig' %}

{% block title %}Etablissements scolaires{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Paramétrage des établissements scolaires</h1>
    </div>
    <div class="row m-3">
        <a href="{{ path('etablissement_scolaire_new') }}"><button class="btn btn-primary">Créer nouvel établissement</button></a>
    </div>
    <div class="row m-3">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for etablissement_scolaire in etablissement_scolaires %}
                <tr>
                    <td>{{ etablissement_scolaire.name }}</td>
                    <td>
                        <a href="{{ path('etablissement_scolaire_edit', {'id': etablissement_scolaire.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
