{% extends 'base.html.twig' %}

{% block title %}New EtablissementScolaire{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Create new EtablissementScolaire</h1>
    </div>

    {{ include('etablissement_scolaire/_form.html.twig') }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('etablissement_scolaire_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
        </div>
    </div>
{% endblock %}
