<form method="post" action="{{ path('type_hebergement_delete', {'id': type_hebergement.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_hebergement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
