{% extends 'base.html.twig' %}

{% block title %}Edit TypeHebergement{% endblock %}

{% block body %}
    <h1>Edit TypeHebergement</h1>

    {{ include('type_hebergement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_hebergement_index') }}">back to list</a>

    {{ include('type_hebergement/_delete_form.html.twig') }}
{% endblock %}
