{% extends 'base.html.twig' %}

{% block title %}New TypeHebergement{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Create new TypeHebergement</h1>
    </div>

    {{ include('type_hebergement/_form.html.twig') }}

    <div class="row mb-3">
        <a href="{{ path('type_hebergement_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
