{% extends 'base.html.twig' %}

{% block title %}Modifier Enfant{% endblock %}

{% block body %}
    <h1>Modifier un Enfant</h1>

    {{ include('enfant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('enfant_index') }}">Retour à la liste</a>

    {{ include('enfant/_delete_form.html.twig') }}
{% endblock %}
