{% extends 'base.html.twig' %}

{% block title %}Nouveau Enfant{% endblock %}

{% block body %}
    <h1>Créer nouveau Enfant</h1>

    {{ include('enfant/_form.html.twig') }}

    <div class="row mb-3">
        <a href="{{ path('enfant_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
