<form method="post" action="{{ path('benevole_delete', {'id': benevole.id}) }}" onsubmit="return confirm('ête-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ benevole.id) }}">
    <button class="btn btn-warning btn-xs">Supprimer</button>
</form>
