{% extends 'base.html.twig' %}

{% block title %}Edit StateHisto{% endblock %}

{% block body %}
    <h1>Edit StateHisto</h1>

    {{ include('state_histo/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('state_histo_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
        </div>
        <div class="col-lg-2">
            {{ include('state_histo/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
