{% extends 'base.html.twig' %}

{% block title %}New StateHisto{% endblock %}

{% block body %}
    <h1>Create new StateHisto</h1>

    {{ include('state_histo/_form.html.twig') }}

    <a href="{{ path('state_histo_index') }}">back to list</a>
{% endblock %}
