{% extends 'base.html.twig' %}

{% block title %}Edit Prescripteur{% endblock %}

{% block body %}
    <h1>Edit Prescripteur</h1>

    {{ include('prescripteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prescripteur_index') }}">retour à la liste</a>

    {{ include('prescripteur/_delete_form.html.twig') }}
{% endblock %}
