{% extends 'base.html.twig' %}

{% block title %}Modifier un prescripteur{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Modifier un prescripteur</h1>
    </div>

    {{ include('prescripteur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="row m-3">
        <a href="{{ path('prescripteur_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
    </div>

{% endblock %}
