{% extends 'base.html.twig' %}

{% block title %}nouveau Prescripteur{% endblock %}

{% block body %}
    <h1>Créer un nouveau Prescripteur</h1>

    {{ include('prescripteur/_form.html.twig') }}

    <a href="{{ path('prescripteur_index') }}">retour à la liste</a>
{% endblock %}
