{% extends 'base.html.twig' %}

{% block title %}Type prescripteur{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Modifier un type de prescripteur</h1>
    </div>

    {{ include('type_prescripteur/_form.html.twig', {'button_label': 'sauvegarder'}) }}

    <div class="row mb-3">
            <a href="{{ path('type_prescripteur_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
    </div>

    <div class="row m-3">
        {{ include('type_prescripteur/_delete_form.html.twig') }}
    </div>
{% endblock %}
