<form method="post" action="{{ path('territoire_delete', {'id': territoire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ territoire.id) }}">
    <button class="btn">Delete</button>
</form>
