<form method="post" action="{{ path('territoire_delete', {'id': territoire.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ territoire.id) }}">
    <button class="btn">Supprimer</button>
</form>
