{% extends 'base.html.twig' %}

{% block title %}Modifier Territoire{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Modifier un Territoire</h1>
    </div>

    {{ include('territoire/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('territoire_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
        </div>
        <div class="col-lg-2">
            {{ include('territoire/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
