{% extends 'base.html.twig' %}

{% block title %}Edit Territoire{% endblock %}

{% block body %}
    <h1>Edit Territoire</h1>

    {{ include('territoire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('territoire_index') }}">back to list</a>

    {{ include('territoire/_delete_form.html.twig') }}
{% endblock %}
