{% extends 'base.html.twig' %}

{% block title %}Territoire{% endblock %}

{% block body %}
    <div class="row mb-3">
        <h1>Paramètre du territoire</h1>
    </div>
    <div class="row m-3">
        <a href="{{ path('territoire_new') }}"><button class="btn btn-primary">Créer nouveau territoire</button></a>
    </div>
    <div class="row m-3">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for territoire in territoires %}
                <tr>
                    <td>{{ territoire.id }}</td>
                    <td>{{ territoire.name }}</td>
                    <td>
                        <a href="{{ path('territoire_edit', {'id': territoire.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
