{% extends 'base.html.twig' %}

{% block title %}Nouveau Territoire{% endblock %}

{% block body %}
    <h1>Créer nouveau Territoire</h1>

    {{ include('territoire/_form.html.twig') }}

    <div class="row mb-3">
        <div class="col-lg-2">
            <a href="{{ path('territoire_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
        </div>
    </div>
{% endblock %}
