{% extends 'base.html.twig' %}

{% block title %}Nouveau Territoire{% endblock %}

{% block body %}
    <h1>Créer nouveau Territoire</h1>

    {{ include('territoire/_form.html.twig') }}

    <a href="{{ path('territoire_index') }}">retour à la liste</a>
{% endblock %}
