{% extends 'base.html.twig' %}

{% block title %}Edit TypeFormation{% endblock %}

{% block body %}
    <h1>Edit TypeFormation</h1>

    {{ include('type_formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_formation_index') }}">retour à la liste</a>

    {{ include('type_formation/_delete_form.html.twig') }}
{% endblock %}
