{% extends 'base.html.twig' %}

{% block title %}New TypeFormation{% endblock %}

{% block body %}
    <h1>Create new TypeFormation</h1>

    {{ include('type_formation/_form.html.twig') }}

    <a href="{{ path('type_formation_index') }}">back to list</a>
{% endblock %}
