{% extends 'base.html.twig' %}

{% block title %}Nouveau TypeFormation{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>Créer nouveau TypeFormation</h1>
    </div>

    {{ include('type_formation/_form.html.twig') }}

    <div class="row mb-3">
        <a href="{{ path('type_formation_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
