{% extends 'base.html.twig' %}

{% block title %}Nouveau TypeFormation{% endblock %}

{% block body %}
    <h1>Créer nouveau TypeFormation</h1>

    {{ include('type_formation/_form.html.twig') }}

    <a href="{{ path('type_formation_index') }}">retour à la liste</a>
{% endblock %}
