{% extends 'base.html.twig' %}

{% block title %}New SiteHisto{% endblock %}

{% block body %}
    <h1>Créer un SiteHisto</h1>

    {{ include('site_histo/_form.html.twig') }}

    <a href="{{ path('site_histo_index') }}">retour à la liste</a>
{% endblock %}
